.stButton > button {
    color: #ffffff;
    background-color: #c60c35;
    font-size: 20px;
    height: 60px;
    width: 100%;
}

.stButton > button:hover {
    color: #ffffff;
    background-color: #920000;
    border-color: #920000;
    font-size: 20px;
    height: 60px;
    width: 100%

}